{% block paragraph %}
  <div{{ attributes }}>
    {% block content %}
      {{ content.field_uswds_image }}
      <div class="usa-media-block__body">
        <h3 class="usa-graphic-list__heading">{{ paragraph.field_uswds_title.value }}</h3>
        {{ content|without('field_uswds_image', 'field_uswds_title') }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
