{% block paragraph %}
  <div{{ attributes }}>
    {% block content %}

      <div class="grid-container">
        <div class="grid-row grid-gap">
          {# Bypass field wrappers #}
          {% for key,value in paragraph.field_uswds_paragraphs.value %}
            {{ content.field_uswds_paragraphs[key] }}
          {% endfor %}
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
