{% block paragraph %}
  {% if uswds_grid_class %}
  <div class="{{ uswds_grid_class }}">
  {% endif %}

    <div{{ attributes }}>
      {% block content %}

        {# Bypass field wrappers #}
        {% for key,value in paragraph.field_uswds_paragraphs.value %}
          {{ content.field_uswds_paragraphs[key] }}
        {% endfor %}

      {% endblock %}
    </div>

  {% if uswds_grid_class %}
  </div>
  {% endif %}

{% endblock paragraph %}
