{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'usa-card-group',
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <ul class="usa-card-group">
        {% for item in content %}
          <li class="{{ paragraph.field_column_layout.value }} usa-card">
            {{ content }}
          </li>
        {% endfor %}
      </ul>

    {% endblock %}
  </div>
{% endblock paragraph %}
