/*
Theme Resources:
U.S. Web Design System (USWDS) - https://designsystem.digital.gov/
U.S. Web Design System (USWDS) Drupal theme - https://www.drupal.org/project/uswds
USWDS Gulp pipeline - https://github.com/uswds/uswds-gulp
USWDS Color Picker - https://civicactions.github.io/uswds-color-tool/
Legacy "Getting Started" guide - https://www.drupalgovcon.org/sites/default/files/session/slides/2020-06/pres_Drupal-GovCon_bseek_dboeger_USWDS-%26-Drupal_061220.pdf
*/

// General Settings
$theme-image-path: "/themes/contrib/uswds_base/assets/img";
$theme-show-compile-warnings: false;
$theme-show-notifications: false;

// Typography Settings
$theme-font-path: "/themes/contrib/uswds_base/assets/fonts";

/*
----------------------------------------
Custom typeface tokens
----------------------------------------
Add a new custom typeface token if
your project uses a typeface not already
defined by USWDS.
----------------------------------------
USWDS defines the following tokens
by default:
----------------------------------------
'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
Add as many new tokens as you have
custom typefaces. Reference your new
token(s) in the type-based font settings
using the quoted name of the token.

For example:

$theme-font-type-cond: 'example-font-token';

display-name:
The display name of your font

cap-height:
The height of a 500px `N` in Sketch
----------------------------------------
You should change `example-[style]-token`
names to something more descriptive.
----------------------------------------
*/

// Custom typeface tokens
$theme-typeface-tokens: (
  example-serif-token: (
    display-name: "Example Serif Display Name",
    cap-height: 364px,
  ),
);

// sans-serif
$theme-font-type-sans: "source-sans-pro";

// serif
$theme-font-type-serif: "merriweather";

// Colors Settings
// Make sure to use theme tokens in your custom styles and not the color variables
/* https://designsystem.digital.gov/design-tokens/color/theme-tokens/ */

// Base colors
$theme-color-base-family:           'gray';
// Primary colors
$theme-color-primary-family:        'red';
// Secondary colors
$theme-color-secondary-family:      'gold';
// Accent warm colors
$theme-color-accent-warm-family:    'gold';
// Accent cool colors
$theme-color-accent-cool-family:    'mint';
// Error colors
$theme-color-error-family:     'red';
// Warning colors
$theme-color-warning-family:   'gold';
// Success colors
$theme-color-success-family:   'green-cool';
// Info colors
$theme-color-info-family:      'cyan';
// Disabled colors
$theme-color-disabled-family:  'gray';

// Base colors
$theme-color-base-lightest:         '#{$theme-color-base-family}-cool-2';
$theme-color-base-lighter:          '#{$theme-color-base-family}-cool-4';
$theme-color-base-light:            '#{$theme-color-base-family}-cool-10';
$theme-color-base-medium:           '#{$theme-color-base-family}-cool-30';
$theme-color-base:                  '#{$theme-color-base-family}-cool-50' ;
$theme-color-base-dark:             '#{$theme-color-base-family}-cool-60' ;
$theme-color-base-darker:           '#{$theme-color-base-family}-cool-70';
$theme-color-base-darkest:          '#{$theme-color-base-family}-90' ;
$theme-color-base-ink:              '#{$theme-color-base-family}-90';

// Primary colors
$theme-color-primary-lightest:      false;
$theme-color-primary-lighter:       '#{$theme-color-primary-family}-5'  ;
$theme-color-primary-light:         '#{$theme-color-primary-family}-30' ;
$theme-color-primary:               '#{$theme-color-primary-family}-50v' ;
$theme-color-primary-vivid:         '#{$theme-color-primary-family}-warm-60v' ;
$theme-color-primary-dark:          '#{$theme-color-primary-family}-warm-70v'  ;
$theme-color-primary-darker:        '#{$theme-color-primary-family}-warm-80v' ;
$theme-color-primary-darkest:       '#{$theme-color-primary-family}-80v';

// Secondary colors
$theme-color-secondary-lightest:    false;
$theme-color-secondary-lighter:     '#{$theme-color-secondary-family}-5';
$theme-color-secondary-light:       '#{$theme-color-secondary-family}-20';
$theme-color-secondary:             '#{$theme-color-secondary-family}-20v';
$theme-color-secondary-vivid:       '#{$theme-color-secondary-family}-30v';
$theme-color-secondary-dark:        '#{$theme-color-secondary-family}-60v';
$theme-color-secondary-darker:      '#{$theme-color-secondary-family}-70';
$theme-color-secondary-darkest:     '#{$theme-color-secondary-family}-70';

// Accent warm colors
$theme-color-accent-warm-lightest:  '#{$theme-color-accent-warm-family}-5v';
$theme-color-accent-warm-lighter:   '#{$theme-color-accent-warm-family}-10v';
$theme-color-accent-warm-light:     '#{$theme-color-accent-warm-family}-20v';
$theme-color-accent-warm:           '#{$theme-color-accent-warm-family}-30v';
$theme-color-accent-warm-dark:      '#{$theme-color-accent-warm-family}-50v';
$theme-color-accent-warm-darker:    '#{$theme-color-accent-warm-family}-60';
$theme-color-accent-warm-darkest:   false;

// Accent cool colors
$theme-color-accent-cool-lightest:  false;
$theme-color-accent-cool-lighter:   '#{$theme-color-accent-cool-family}-5v';
$theme-color-accent-cool-light:     '#{$theme-color-accent-cool-family}-10v';
$theme-color-accent-cool:           '#{$theme-color-accent-cool-family}-20v';
$theme-color-accent-cool-dark:      '#{$theme-color-accent-cool-family}-20';
$theme-color-accent-cool-darker:    '#{$theme-color-accent-cool-family}-30v';
$theme-color-accent-cool-darkest:   '#{$theme-color-accent-cool-family}-60v';

// Error colors
$theme-color-error-lighter:    '#{$theme-color-error-family}-10';
$theme-color-error-light:      '#{$theme-color-error-family}-40v';
$theme-color-error:            '#{$theme-color-error-family}-50';
$theme-color-error-dark:       '#{$theme-color-error-family}-60v';
$theme-color-error-darker:     '#{$theme-color-error-family}-70v';

// Warning colors
$theme-color-warning-lighter:  '#{$theme-color-warning-family}-5v';
$theme-color-warning-light:    '#{$theme-color-warning-family}-10v';
$theme-color-warning:          '#{$theme-color-warning-family}-20v';
$theme-color-warning-dark:     '#{$theme-color-warning-family}-30v';
$theme-color-warning-darker:   '#{$theme-color-warning-family}-40v';

// Success colors
$theme-color-success-lighter:  '#{$theme-color-success-family}-5';
$theme-color-success-light:    '#{$theme-color-success-family}-30v';
$theme-color-success:          '#{$theme-color-success-family}-40v';
$theme-color-success-dark:     '#{$theme-color-success-family}-50';
$theme-color-success-darker:   '#{$theme-color-success-family}-70';

// Info colors
$theme-color-info-lighter:     '#{$theme-color-info-family}-5';
$theme-color-info-light:       '#{$theme-color-info-family}-20';
$theme-color-info:             '#{$theme-color-info-family}-30v';
$theme-color-info-dark:        '#{$theme-color-info-family}-40v';
$theme-color-info-darker:      '#{$theme-color-info-family}-60';

// Disabled colors
$theme-color-disabled-light:   '#{$theme-color-disabled-family}-10';
$theme-color-disabled:         '#{$theme-color-disabled-family}-20';
$theme-color-disabled-dark:    '#{$theme-color-disabled-family}-30';

// Links
$theme-link-color:                    $theme-color-primary;
$theme-link-visited-color:            $theme-color-primary;
$theme-link-hover-color:              $theme-color-primary-dark;
$theme-link-active-color:             $theme-color-primary-darkest;
