.call-to-action {
  &.img-background {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cta-content.content-background {
    background-color: white;
    opacity: 70%;
    padding: 2em;
    border-radius: 20px;
  }
}
