form.usa-form {
  max-width: 100%;
}

// USA Form Group temp fix for margin.
.usa-form-group {
  margin-top: 0rem;
}

.webform-submission-form .usa-form-group,
.views-exposed-form.usa-form .usa-form-group {
  margin-top: 1em;
}
.views-exposed-form.usa-form .usa-search .usa-form-group {
  margin-top: 0;
}

#views-exposed-form-reports-page-reports-all .usa-form-group {
  margin-top: 1em
}

// Header search form
#views-exposed-form-search-page-search {
  .form--inline {
    display: flex;
    input#edit-search-keys {
      margin-top: 0;
      height: 2rem;
    }
  }
}


// Hotline form.
.webform-progress {
  .webform-progress__status {
    h2.usa-step-indicator__heading {
      position: relative;
      width: 100%;
      .usa-step-indicator__heading-counter {
        float: left;

      }
      .webform-progress__percentage.usa-step-indicator__heading-text {
        float: right;
        top: 40%;
        //position: absolute;
        transform: translateY(40%);
        -ms-transform: translateY(40%);
        margin: 0 1em;
      }
    }
  }
}

// USA Form Group temp fix for margin.
.usa-form-group {
  margin-top: 0rem;
}
form.webform-submission-form {
  .usa-form-group {
    margin-top: inherit;
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }
  }
  fieldset.radios--wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  label.usa-checkbox__label{
    span.file {
      display: inline;
    }
  }
}
