.usa-hero {
  background-image: none;
  .slick__slide {
    height: 350px;
    .hero-slider-background {
      background-size: cover;
      height: 350px;
      .grid-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}
