.usa-collection {
  .vew-content {
    .usa-collection__item {
      border-top-style: none;
      margin-top: 0;
      article {
        border-top: 1px solid;
        .usa-collection__body {
          margin-top: 1rem;
        }
      }
    }
  }
}
