.usa-collection {
  .vew-content {
    .usa-collection__item {
      border-top-style: none;
      padding-top: 0;
      article {
        border-top: 1px solid;
        .usa-collection__body {
          padding-top: 1em;
        }
      }
    }
  }
}
