.usa-collection {
  .usa-collection__item {
    border-top-width: 0;
    border-top-style: none;
    margin-top: 0;
    article {
      border-top: 1px solid;
      .usa-collection__body {
        margin-top: 1rem;
      }
    }
  }
  .usa-collection__item.grid-col-12 {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 1rem;
    article {
      border-top: none;
      .usa-collection__body {
        margin-top: 0;
      }
    }
  }
}
