.call-to-action {
  &.img-background {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cta-content.content-background {
    background-color: white;
    opacity: 75%;
    padding: .5em 3em 2em;
  }
}
