// Header search form
#views-exposed-form-search-page-search {
  .form--inline {
    display: flex;
    input#edit-search-keys {
      margin-top: 0;
      height: 2rem;
    }
  }
}

//add a small margin above the disclaimer so it isn't toching the Submit complaint anonymously checkbox
.js-form-item-disclaimer {margin-top: 6px;}
