form.usa-form {
  max-width: 100%;
}


// Header search form
#views-exposed-form-search-page-search {
  .form--inline {
    display: flex;
    input#edit-search-keys {
      margin-top: 0;
      height: 2rem;
    }
  }
}


// Hotline form.
.webform-progress {
  .webform-progress__status {
    h2.usa-step-indicator__heading {
      position: relative;
      width: 100%;
      .usa-step-indicator__heading-counter {
        float: left;

      }
      .webform-progress__percentage.usa-step-indicator__heading-text {
        float: right;
        top: 49%;
        position: absolute;
        transform: translateY(-49%);
        margin: 0;
      }
    }
  }

}
