// USA Banner
header.usa-banner__header {
  + #gov-banner {
    display: none;
  }
}
header.usa-banner__header--expanded {
  + #gov-banner {
    display: block;
  }
}

#logo.usa-logo {
  @include at-media("tablet") {
    display: flex;
    #brand-text {

    }
  }
  #brand-text {
    display: inline-block;
    vertical-align: middle;
    @include at-media("tablet") {
      line-height: 1;
      margin-left: 20px;
      align-self: center;
      .slogan_text {
        font-size: 1.5rem;
      }
    }
  };
  .brand-logo {
    display: inline-block;
    vertical-align: middle;
    padding-right: .5rem;
    img {
      height: 3rem;
      @include at-media("tablet") {
        height: inherit;
      }
    }
  }
}

// Header
// ---------------------------------

.usa-header {
  + .usa-hero {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color("base-lighter");
    }
  }
}

// usa-header--extended
// ---------------------------------

.usa-header--extended {
  .usa-nav {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color("base-lighter");
      padding: 0;
      width: 100%;
    }
  }
}
