section.usa-hero {
  background-image: none;
  padding-top: 0;
  padding-bottom: 0;
  //.field--label-hidden {
  //  display: none;
  //}
  .slick__slide {
    height: 400px;
    .hero-slider-background {
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      .grid-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}
