@import "../effects/hover/hover";
// Primary navigation dropdowns
// ---------------------------------

.usa-nav__primary {
  .usa-nav__primary-item {
    > .usa-nav__link:hover::after {
      background-color: transparent;
    }
    a.usa-nav__link {
      @include underline-from-center();
      &:before {
        margin-left: 1em;
        margin-right: 1em;
        background: color('primary');
        &:focus {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    button.usa-nav__link {
      &[aria-expanded="false"] {
        @include underline-from-center();
        &:before {
          margin-left: 1em;
          margin-right: 1em;
          background: color('primary');
          &:focus {
            margin-left: 0;
            margin-right: 0;
          }
        }
        + ul.usa-nav__submenu {
          display: none;
        }
      }
    }
  }
}
//Fix usa-navbar height in mobile / tablet
.usa-header .usa-navbar {
  height: auto;
}

// Secondary navigation (user menu)
// -------------------------------
.usa-nav__secondary {
  @include at-media("desktop") {
    bottom: 6.5rem;
  }
  ul.usa-nav__secondary-links {
    @include at-media("desktop") {
      margin-bottom: 1rem;
    }
  }
}

// Mobile nav reorder items.
nav.usa-nav {
  .usa-nav__inner {
    display: flex;
    @include at-media("tablet") {
      display: block;
    }
    flex-direction: column;
    .region-primary-menu {
      order: 2;
    }
    .usa-nav__secondary {
      order: 1;
    }
  }
}


// Mobile nav close button position.
.usa-nav.is-visible {
  .usa-nav__close {
    margin: -.75rem -.5rem -1rem auto;
  }
}

// Legal nav position.
.region-footer-secondary {
  margin-top: 2em;
  nav.menu--secondary-footer {
    ul.menu {
      text-align: center;
    }
  }
}

// Side nav adjustments.
.region-sidebar-second {
  .usa-sidenav {
    margin-bottom: 3rem;
  }
}

// Footer nav adjustments.
section.usa-footer__primary-content {
  h4.usa-footer__primary-link {
    cursor: auto;
  }
}