footer {
  .usa-footer__secondary-section {
    nav {
      ul {
        list-style-type: none;
        li {
          display: inline-flex;
          :after {
            content: "  |  ";
            &last-of-type {
              content: none;
            }
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}


// DOJ Styles for later
//.usa-footer__contact-heading {
//  @include at-media("tablet") {
//    padding-right: 1rem;
//    bottom: -88px;
//  }
//  @include at-media("mobile-lg") {
//    position: relative;
//    bottom: -80px;
//  }
//  padding: 1rem 0;
//}
//.legal-footer{
//  margin-top: 1rem;
//}
//.usa-footer__contact-info {
//  display: block;
//  margin-right: auto;
//}
//.usa-footer__nav {
//  margin-bottom: 2rem;
//}
//.usa-footer__secondary-section a {
//  color: $justiceBlue;
//}
//.usa-footer__logo {
//  position: relative;
//  top: 20px;
//  @include at-media("tablet") {
//    top: 20px;
//  }
//}
//.usa-footer__contact-heading {
//  text-align: center;
//  @include at-media("tablet") {
//    text-align: left;
//    position: relative;
//    bottom: -40px;
//  }
//}
//img.usa-footer__logo-img {
//  margin: 0 auto;
//  display: flex;
//  @include at-media("tablet") {
//    margin: 0;
//    display: block;
//  }
//}
//.usa-footer__logo-heading {
//  margin-bottom: 1rem;
//  text-align: center;
//  @include at-media("mobile-lg") {
//    text-align: left;
//  }
//}
//.usa-footer__contact-links address,
//h3.usa-footer__contact-heading {
//  text-align: center;
//  @include at-media("mobile-lg") {
//    text-align: right;
//  }
//}
//.usa-footer__social-links.grid-row.grid-gap-1>.grid-col-auto{
//  margin: 0 auto;
//  @include at-media("mobile-lg") {
//    margin: 0;
//  }
//}
//.usa-footer__contact-info>.grid-col-auto {
//  text-align: center;
//  @include at-media("mobile-lg") {
//    text-align: right;
//  }
//}
//.usa-social-link--facebook {
//  background-image: url(../img/social-icons/facebook25_blue.svg),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
//  background-image: url(../img/social-icons/facebook25_blue.svg),linear-gradient(transparent,transparent);
//}
//.usa-social-link--twitter {
//  background-image: url(../img/social-icons/twitter16_blue.svg),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
//  background-image: url(../img/social-icons/twitter16_blue.svg),linear-gradient(transparent,transparent);
//}
//.usa-social-link--rss {
//  background-image: url(../img/social-icons/rss25_blue.svg),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
//  background-image: url(../img/social-icons/rss25_blue.svg),linear-gradient(transparent,transparent);
//}
//.usa-social-link--youtube {
//  background-image: url(../img/social-icons/youtube15_blue.svg),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
//  background-image: url(../img/social-icons/youtube15_blue.svg),linear-gradient(transparent,transparent);
//}
