#logo.usa-logo {
  @include at-media("tablet") {
    display: flex;
    #brand-text {
      line-height: 1;
      margin-left: 20px;
      align-self: center;
      .slogan_text {
        font-size: 1.5rem;
      }
    }

  }
}
